@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');

body {
  font-family: 'Fanwood Text', serif;
}

nav {
  background-color: #ffd1dc;
}

header {
  margin-bottom: 24px;
}

h1, h2, h3, h4 {
  font-family: 'Shrikhand', var(--font-family-sans-serif);
}

.container li {
  list-style-type: '* ';
}

img, .card {
  max-width: 320px;
}